<h1>Weather<span class="title-span"> Forecats</span></h1>

<div class="swiper-container">
  <ul class="trip-list swiper-wrapper">
    <li><button type="button" class="open-modal-btn">Add trip</button></li>
  </ul>
</div>

<div class="btn-block">
  <button class="btn-swiper left-btn">Left</button>
  <button class="btn-swiper right-btn">Right</button>
</div>

<ul class="weather-list"></ul>

<div class="weather-btn-block">
  <button class="btn-swiper left-weather-btn">Left</button>
  <button class="btn-swiper right-weather-btn">Right</button>
</div>
