<div class="modal-overlay">
  <div class="modal">
    <h2>Create trip</h2>
    <form class="modal-form">
      <div class="form-item">
        <label class="form-label form-city"> City </label>
        <select class="citys-list"></select>
      </div>

      <div class="form-item">
        <label class="form-label form-start-date">Start date</label>
        <input type="date" class="start-date-input" />
      </div>

      <div class="form-item">
        <label class="form-label form-end-date">End date</label>
        <input type="date" class="end-date-input" />
      </div>

      <div class="form-btn-container">
        <button type="button" class="form-btn close-modal-btn">Close</button>
        <button class="form-btn submit-btn" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
